ion-slides{
    height: 100%;
    --bullet-background-active: pink;
}

.slide1{
    background-color: red;
    height: 100%;
}
.slide2{
    background-color: blue;
    height: 100%;
}
.slide3{
    background-color: green;
    height: 100%;
}